* {
	margin: 0;
	padding: 0;
}


.menu-bar {
	margin-top: 60px;
	height: 60px;
	background-color: #e3c49c;
	border-bottom: 2px solid #ffffff;
	position: relative;

}

.menu-bar:before {
	content: "";
	background-color:  #b34549;
	border-bottom: 2px solid #ffffff;
	top: -60px;
	height: 60px;
	width: 100%;
	position: absolute;
}

.menu-bar ul {
	display: flex;
	list-style: none;
	padding: 0 350px;
}

@media screen and (max-width: 1460px) and (min-width: 1200px) {
	.menu-bar ul {
		padding: 0 150px;
	}
}

@media screen and (max-width: 1800px) and (min-width: 1460px) {
	.menu-bar ul {
		padding: 0 200px;
	}
}

.menu-bar ul li {
	display: inline-block;
	margin: 0 auto;
	padding: 15px 0;
}

.menu-bar ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #602e37;
	font-weight: bold;
}

.main-logo img  {
	height: 180px;
	position: relative;
	bottom: 72px;
	z-index: 1;
}

.menu-bar ul li a:hover {
	border-bottom: 2px dashed #603030;
	transition: all linear .1s;
}

/*Carousel*/
.carousel {
	position: relative;
}

.mySlides {
	width: 100%;
}
.prev {
	position: absolute;
	top: 50%;
	left: 0%;
}

.next {
	position: absolute;
	top: 50%;
	right: 0%;
}

.button-auto {
	padding: 10px;
	font-size:20px;
	cursor: pointer;
	background-color:rgb(192,192,192);
	opacity:0.1;
}

.button-auto:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 0, 255);
}

/*Main-navigation*/
.cars-category {
	width: 100%;
	height: 16%;
	background-color: rgba(128, 128, 128, .3);
	text-align: center;
	position: absolute;
	top: 84%;
}

@media screen and (max-width: 1460px) and (min-width: 1200px) {
	.cars-category {
		height: 23%;
		top: 77%;
	}
}

@media screen and (max-width: 1800px) and (min-width: 1460px) {
	.cars-category {
		height: 20%;
		top: 80%;
	}
}

.cars-category ul {
	list-style-type: none;
	display: inline-block;
}

.cars-category ul li {
	float: left;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.cars-category ul li a {
	display: block;
	padding: 5px 50px;
}

.cars-category ul li a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 20px rgba(255, 255, 255, .6);
	margin: 10px;
	transition: all linear 0.3s;
}
.main-footer {
	height:420px;
	width: 100%;
	background: url(../img/footer-bgr.png) center no-repeat;
	background-size: 100% 100%;
	opacity: 0.90;
	margin-top: 200px;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container h2, legend {
	font: 25px 'Open Sans', Arial sans-serif;
	line-height: 55px;
}
legend{
padding:0px 5px;
}
.contacts {
	line-height: 25px;
	text-align: center;
	word-spacing: 4px;
	font-weight: bold;
}


.form {
	width: 350px;
}

#contact-form input,textarea{
	padding: 5px;
	margin: 5px 25px 10px;
	width: 80%;
	border-radius: 5px;	
	background-color: rgba(128, 128, 128, .3);
	color:#FFFAF0;
	font: 14px 'Open Sans', Arial sans-serif;
}

fieldset {
	border: 2px solid #fff;
	border-radius: 15px;
}

textarea {
	resize: none;
	padding-bottom:50px;
}

#submit-button {
	background-color: #0c9a8c;
	font-size: 20px;
	width: 40%;
	margin:0 0 10px 25px;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
	transition:  0.5s ease;
	color: #ffffff;
}

.main-footer input::placeholder,
.main-footer textarea::placeholder {
	color: #ffffff;
}

::-moz-placeholder {
	opacity: 1;
}

#submit-button:hover { 
	background-color: #4AD3C6;
}

.icons-social {
	padding:20px 0;
}

.icons-social ul li {
	display: inline-block;  
}

.icons-social ul li a {
	color: #FDFFF6;
	line-height: 15px;
	font-size: 20px;
	padding: 17px;
	text-decoration: none;
}

.fa  {

	width: 16px;
	height: 16px;
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 0.15);
	margin-right: 40px;
}

.fa:hover {
	background-color: rgba(255, 255, 255, 0.65);
}

.team a {
	color: #ffffff;
}

