.menu-bar {
  position: relative;
  height: 60px;
  margin-top: 60px;
  background-color: #e3c49c;
  border-bottom: 2px solid #ffffff;
}

.menu-bar::before {
  content: "";
  position: absolute;
  top: -60px;
  width: 100%;
  height: 60px;
  background-color: #b34549;
  border-bottom: 2px solid #ffffff;
}

.menu-bar ul {
  display: flex;
  list-style: none;
  padding: 0 350px;
}

@media screen and (max-width: 1460px) {
  .menu-bar ul {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1460px) {
  .menu-bar ul {
    padding: 0 200px;
  }
}

.menu-bar ul li {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 0;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #602e37;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

.items-underline {
  position: relative;
}

.items-underline::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #8B0000;
  content: "";
  transition: width 0.3s;
}

.items-underline:hover {
  color:  #8B0000;
}

.items-underline:hover::after {
  width: 100%;
}

.main-logo img  {
  position: relative;
  bottom: 72px;
  height: 180px;
  z-index: 1;
}

/*Carousel*/
.carousel {
  position: relative;
}

.mySlides {
  width: 100%;
}
.prev {
  position: absolute;
  top: 50%;
  left: 0%;
}

.next {
  position: absolute;
  top: 50%;
  right: 0%;
}

.button-auto {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(192,192,192, .3);
  border: 0;
}

.button-auto:hover {
  color: #000000;
  background-color: rgb(255, 255, 255);
}

/*Main-navigation*/
.cars-category {
  position: absolute;
  top: 84%;
  width: 100%;
  height: 16%;
  background-color: rgba(128, 128, 128, .3);
  text-align: center;
}

@media screen and (max-width: 1460px) and (min-width: 1200px) {
  .cars-category {
    top: 77%;
    height: 23%;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1460px) {
  .cars-category {
    top: 80%;
    height: 20%;
  }
}

.cars-category ul {
  display: inline-block;
  list-style-type: none;
}

.cars-category ul li {
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.cars-category ul li a {
  display: block;
  padding: 5px 50px;
}

.cars-category ul li a:hover {
  margin: 10px 0 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 20px rgba(255, 255, 255, .6);
  transition: all linear 0.3s;
}