*{
  margin:0;
  padding:0;
}
body{
  background: #ebe3dc;
  width: 100%;
  color: #fff;
  font: 14px 'Open Sans', Arial sans-serif; 
}

.main-container{
  display:  inline-block;
  margin-left: 15%;
  margin-right: 15%;
}

.text-block{
    background-color: #dacbbe;  
    float: left; 
    width: 470px; 
    min-height: 296px;
    text-align: center;
    color: #595654;
}

.more{
    padding: 0px 20px 0px 20px;
}

h1{
  text-align: center;
  color: #595654;
  padding-bottom: 20px;
}

h3{
    color:#000000;
    text-align: center;
    padding-top:3px;
    padding-bottom:3px;
}

.item {
    width: 20%;
    float: left; 
    padding-left: 10px;
    cursor: pointer;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
    text-decoration:none;
    color: #6B523E;
    font-size: 25px;
}


