*{
  margin:0;
  padding:0;
}

body{
  background: #ebe3dc;
  width: 100%;
  color: #fff;
  font: 14px 'Open Sans', Arial sans-serif; 
}

.title-name h1 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: #FCF2E5;
    background: #90806A;
    font-size: 2.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.title-name {
    padding: 50px 20px;
    text-align: center;
}

.title-name h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -15px;
    background: #90806A;
}

.title-name h1:after {
    content: "";
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid #90806A;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

.main-container{
  display:  inline-block;
} 

.text-block{
    float: left; 
    background-color: #dacbbe;   
    width: 470px;
    min-height: 296px;
    text-align: center;
    color: #595654;
}

.picture{
  float: left;
  cursor: pointer;
}

.picture:action{
position: fixed;
}

.more{
    padding: 0px 20px 0px 20px;
}

h1{
  text-align: center;
  color: #595654;
  padding-bottom: 20px;
}

h3{
    color:#000000;
    text-align: center;
    padding-top:3px;
    padding-bottom:3px;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
    text-decoration:none;
    color: #6B523E;
    font-size: 25px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body{
  }
  .text-block{
    width: auto;
    margin: 0 5% 50px 5%;
  }
  .picture{
    margin-left: 25%;
    margin-bottom: 35px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .main-container{
    margin-left: 1.3%;
    margin-bottom: 20px;
  }
  .picture{
    padding-left: 10px;
  }
}

@media only screen and (min-width : 1024px) {
  .main-container{
    margin-left: 3.2%;
    margin-bottom: 5px; 
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1152px) {
  .main-container{
    margin-left: 9%;
    margin-bottom: 5px; 
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1224px) {
  .main-container{
    margin-left: 11%;
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1360px) {
  .main-container{
    margin-left: 15%; 
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1440px) {
  .main-container{
    margin-left: 17%;
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1680px) {
  .main-container{
    margin-left: 22%; 
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1800px) {
  .main-container{
    margin-left: 24%;
  }
  .picture{
    margin-left: 10px;
  }
}

@media only screen and (min-width : 1920px) {
  .main-container{
  margin-left: 25%;
  }
  .picture{
    margin-left: 10px;
  }
}

